<?xml version='1.0' encoding='UTF-8' ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"

      xmlns:p="http://primefaces.org/ui"

      xmlns:h="http://java.sun.com/jsf/html"

      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>

        <title>Facelet Title</title>

    </h:head>

    <h:body>

        <h:form>

            <p:panel header="Simple Form in JSF 2.0 - little drops @ thiyagaraaj.com">

                <h:panelGrid columns="2">

                    <h:outputText value="Name" />  

                    <p:inputText value="#{personController.person.name}"/>

                    <h:outputText value="No" />                      

                    <p:inputText value="#{personController.person.no}"/>

                    <h:outputText value="Address" />  

                    <p:inputText value="#{personController.person.address}"/>

                </h:panelGrid>

                <f:facet name="footer">                        

                    <!-- commandButton käyttää ajaxia ja updatea toteuttaakseen päivitykset ilman sivun uudelleenlataamista -->
                    <p:commandButton value="Finish" action="#{personController.addPerson()}" ajax="true" update="personTable"/>

                </f:facet>

            </p:panel>



            <p:dialog header="Conformation Dialog" widgetVar="dlg1" width="500">Simple Form In JSF 2.0 - little drops @ thiyagaraaj.com</p:dialog>
            
            <!-- Persontable näyttää personControllerin sisältämät henkilötiedot listassa -->
            <p:dataTable id="personTable" value="#{personController.personList}" var="person" >
                
                <p:column>

                    <f:facet name="header">Name</f:facet>  

                    <h:outputText value="#{person.name}"/>

                </p:column> 

                <p:column>

                    <f:facet name="header">Number</f:facet>  

                    <h:outputText value="#{person.no}"/>

                </p:column> 

                <p:column>

                    <f:facet name="header">Address</f:facet>  

                    <h:outputText value="#{person.address}"/>

                </p:column> 

            </p:dataTable>

        </h:form>

    </h:body>

</html>