<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
       xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./template.xhtml">

            <!-- Määrittelee templaatin esittelemän title osion sisällön -->
            <ui:define name="title">
                Greeting
            </ui:define>

            <!-- Määrittelee templaatin esittelemän box osion sisällön -->            
            <ui:define name="box">
                <h4>Hi, my name is Duke!</h4>

                <h5>I'm thinking of a number

                    <br/>
                    between
                    <span class="highlight">0</span> and
                    <span class="highlight">10</span>.</h5>

                <h5>Can you guess it?</h5>

                <h:form>
                    <!-- Formi linkkaa UserNumberBeaniin userNumberin arvoon -->
                    <!-- Huomaa että JSF osaa käyttää suoraan arvon omaa setteriä ja getteriä-->
                    <h:inputText id="userNumber" size="2" maxlength="2" value="#{UserNumberBean.userNumber}"/>
                    <!-- Response viedään response.xhtml, jonka JSF osaa hakea suoraan samasta kansiosta -->
                    <h:commandButton id="submit" value="submit" action="response" />
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
