<!--
HUOM: index.xhtml on korvattu greeting.xhtml tiedostolla, joka käyttää templaattia.
index.xhtml näyttää käyttäjälle etusivun. UserNumberBeania aletaan
käyttämään täällä formin yhteydessä.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link href="css/stylesheet.css" rel="stylesheet" type="text/css" />
        <!--<h:outputStylesheet name="css/stylesheet.css" />-->

        <title>Greeting</title>
    </head>

    <body>
        <div id="mainContainer">

            <div id="left" class="subContainer greyBox">

                <h4>Hi, my name is Duke!</h4>

                <h5>I'm thinking of a number

                    <br/>
                    between
                    <span class="highlight">0</span> and
                    <span class="highlight">10</span>.</h5>

                <h5>Can you guess it?</h5>

                <!--<form action="response.xhtml">
                    <input type="text" size="2" maxlength="2" />
                    <input type="submit" value="submit" />
                </form>-->

                <h:form>
                    <!-- Formi linkkaa UserNumberBeaniin userNumberin arvoon -->
                    <!-- Huomaa että JSF osaa käyttää suoraan arvon omaa setteriä ja getteriä-->
                    <h:inputText id="userNumber" size="2" maxlength="2" value="#{UserNumberBean.userNumber}"/>
                    <!-- Response viedään response.xhtml, jonka JSF osaa hakea suoraan samasta kansiosta -->
                    <h:commandButton id="submit" value="submit" action="response" />
                </h:form>
            </div>

            <div id="right" class="subContainer">

                <img src="duke.png" alt="Duke waving" />
                <!--<h:graphicImage url="/duke.png" alt="Duke waving" />-->

            </div>
        </div>
    </body>
</html>