<!-- response näyttää annetun arvon ja oliko tulos oikein sekä antaa 
mahdollisuuden palata edelliselle sivulle.-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./template.xhtml">

            <ui:define name="title">
                Response
            </ui:define>

            <ui:define name="box">
                <!-- Haetaan UserNumberBeanin response metodin vastaus näytille -->
                <!-- escape on vakiona true, mutta nyt asetetaan falseksi jotta html elementit tuodaan html elementteinä-->
                <h4><h:outputText escape="false" value="#{UserNumberBean.response}"/></h4>

                <!--<form action="index.xhtml">

                    <input type="submit" id="backButton" value="Back"/>

                </form>-->

                <!-- prependId ehkäisee id arvojen automaattista assingoinmista -->
                <h:form prependId="false">
                    <!-- commandButton navigoi JSF:n avulla akaisin index tiedostoon. -->
                    <h:commandButton id="backButton" value="Back" action="index"/>

                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>