<?xml version='1.0' encoding='UTF-8' ?>
<!--  confirmation.xhtml sisältää kentät joihin haetaan pavusta
näytettävät tiedot. Tänne päästään vain jos syötetty arvo oli validi.-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://java.sun.com/jsf/html">
  <h:head>
        <title>Confirmation Page</title>
        <h:outputStylesheet library="css" name="style.css"/>
   </h:head>
   <h:body>
         <h2>Confirmation Page</h2>
         <h:panelGrid columns="2"
              columnClasses="rightalign-bold,normal">
         <h:outputText value="Salutation: "/>
         <h:outputText
             value="#{registrationBean.salutation}" />
         <h:outputText value="First Name:"/>
         <h:outputText value="#{registrationBean.firstName}" />
         <h:outputText value="Last Name:"/>
         <h:outputText value="#{registrationBean.lastName}" />
         <h:outputText value="Age:"/>
         <h:outputText value="#{registrationBean.age}"/>
         <h:outputText value="Email Address:"/>
         <h:outputText value="#{registrationBean.email}" />
      </h:panelGrid>
   </h:body>
</html>