<?xml version='1.0' encoding='UTF-8' ?>
<!--
index.htm sisältää facelet formin, johon voidaan syöttää
tiedot jotka viedään sitten RegistrationBeanille.
Tiedot kuitenkin validoitaan ensiksi, katsoen onko tarvittavat
tiedot syötetty ja jotkin käytetään validaattorin kautta. Vain
jos tiedot olivat valideja, viedään käyttäjä confirmation.xhtml 
tiedostoon.
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"> <!-- Antaa käyttää jsf tageja kuten <h:head> -->
    <h:head>
        <title>Facelet tutorial</title>
    </h:head>
    <h:body>
        Syötähän tiedot
        <h:form>
            <!-- panelGrid antaa taulukon jonne JSF elementit voi sijoittaa halutulla tavalla. -->
            <!-- Input kentälle luodaan label outputLabelilla. Huomaa että for on sama kuin inputin id -->
            <!-- Message luo virheviestin id:n mukaisele input elementille -->                            
            <!-- Validaattorit tuodaan <f:validator> tagilla-->
            <h:panelGrid columns="3"
                         columnClasses="rightalign,leftalign,leftalign">
                <h:outputLabel value="Salutation: " for="salutation"/>
                <h:selectOneMenu id="salutation" label="Salutation"
                                 value="#{registrationBean.salutation}" >
                    <f:selectItem itemLabel="" itemValue=""/>
                    <f:selectItem itemLabel="Mr." itemValue="MR"/>
                    <f:selectItem itemLabel="Mrs." itemValue="MRS"/>
                    <f:selectItem itemLabel="Miss" itemValue="MISS"/>
                    <f:selectItem itemLabel="Ms" itemValue="MS"/>
                    <f:selectItem itemLabel="Dr." itemValue="DR"/>
                </h:selectOneMenu>
                <h:message for="salutation"/>
                <h:outputLabel value="First Name:" for="firstName"/>
                <h:inputText id="firstName" label="First Name"
                             required="true"
                             value="#{registrationBean.firstName}" />
                <h:message for="firstName" />
                <h:outputLabel value="Last Name:" for="lastName"/>
                <h:inputText id="lastName" label="Last Name"
                             required="true"
                             value="#{registrationBean.lastName}" />
                <h:message for="lastName" />
                <h:outputLabel for="age" value="Age:"/>
                <h:inputText id="age" label="Age" size="2" required="true"
                             value="#{registrationBean.age}">
                    <f:validator validatorId="ageValidator"/>
                </h:inputText>          
                <h:message for="age"/>
                <h:outputLabel value="Email Address:" for="email"/>
                <h:inputText id="email" label="Email Address"
                             required="true"
                             value="#{registrationBean.email}">
                    <f:validator validatorId="emailValidator"/>
                </h:inputText>
                <h:message for="email" />
                <h:panelGroup/>
                <h:commandButton id="register" value="Register"
                                 action="confirmation" />
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

