<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Noppa</title>
    </h:head>
    <h:body>
        <!-- Napit toteutetaan commandButtoneilla,
        jotka on kääritty ajax tagiin.
        Metodi kutsu on ajax tagin listenerissä. -->
        <h:form id="lomake">
            <h:panelGrid>
                Heitä noppaa ja katso tulokset
                <h:outputText value="Tulos: "/>
                <h:outputText id="tulos" value="#{noppaBean.tulos}"/>
                <h:outputText value="Yhteensä: "/>
                <h:outputText id="summa" value="#{noppaBean.summa}"/>        
                <h:outputText value="Heittoja: "/>
                <h:outputText id="heitot" value="#{noppaBean.heitot}"/>
                <h:outputText value="Keskiarvo: "/>
                <h:outputText id="keskiarvo"  value="#{noppaBean.keskiarvo}"/>
                <f:ajax  listener="#{noppaBean.heita()}" render="tulos summa heitot keskiarvo">
                    <h:commandButton value="Heitä"/>
                </f:ajax>
                <f:ajax listener="#{noppaBean.nollaa()}" render="tulos summa heitot keskiarvo">
                    <h:commandButton value="Nollaa"/>        
                </f:ajax>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

