<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <!--        <h:form>
                    <h:commandButton value="Listaa" action="Listaus"/>
                </h:form>
                <h:form>
                    <h:commandButton value="Lisää" action="Lisays"/>
                </h:form>
        -->

        <p:tabView>       
            <p:tab title="Lista" id="lista">            
                <ui:include src="Listaus.xhtml"/>
            </p:tab>

            <p:tab title="Lähetys" id="lahetys">
                <ui:include src="Lisays.xhtml"/>
            </p:tab>
        </p:tabView>

    </h:body>
</html>

