<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
        <title>Asiakkaan lisäys</title>
    </h:head>
    <h:body>
        <h:form>
            <h:panelGrid id="panel">
                <h:outputLabel for="nimi" value="Nimi: " />
                <p:inputText id="nimi" value="#{asiakasBean.asiakas.nimi}" required="true"/>
                <h:outputLabel for="osoite" value="Osoite: " />
                <p:inputText id="osoite" value="#{asiakasBean.asiakas.osoite}" required="true"/>
                <h:outputLabel for="puhelin" value="Puhelin: " />
                <p:inputText id="puhelin" value="#{asiakasBean.asiakas.puhelin}" required="true"/>
                <h:outputLabel for="email" value="Email: " />
                <p:inputText id="email" value="#{asiakasBean.asiakas.email}" required="true"/>
                <h:outputLabel for="salasana" value="Salasana: " />
                <p:inputText id="salasana" value="#{asiakasBean.asiakas.salasana}" required="true"/>
                <!-- HUOM: Update kohdassa päivitetään asiakkaat id:n suorituksensa jälkeen
                En ole ihan varma toimiiko tämä latenssin kanssa. Pitäisi testata latenssia simuloiden -->
                <p:commandButton value="Submit" process="@form" update="panel @([id$=asiakkaat])" actionListener="#{asiakasBean.AddClient}"/>
                <!--HUOM: Jotta form tyhjentyisi, pitäisi asiakasBeanin tietueet myös tyhjätä submitin jälkeen-->
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

